@media (maaax-width: 600px) {
	
	/* Common */
	.floatRight, .floatLeft {float: none;}
	
	/* Design */
	.wrapper {max-width: 100%; width: auto;}
	#body .wrapper, #subsection .wrapper, footer .wrapper {padding: 10px;}
	header #logo {display: block; width: 100%;}
	header #search {position: static; clear: both; width: 100%;}
		#search input#s {width: 90%; margin-bottom: 5px;}
		#search button {margin-bottom: 10px;}
		#search #searchAnchor {float: left; text-indent: 0; padding-left: 30px; width: auto; background-position: -73px 0; background-repeat: no-repeat; line-height: 24px;}
		#search.searchOptionsGo #searchAnchor {background-position: -73px -24px; color: #fff;}
	header nav {margin: 0; float: none; clear: both; border: 1px solid rgba(255, 255, 255, 0.08); border-width: 1px 0;}
		header nav ul, header nav li {display: block; float: none;}
		header nav a {display: block; width: 100%; float: none !important; text-align: center; border: none !important; padding: 10px 0 !important;}
		header nav a:hover {background: #000;}
		header nav ul li:hover ul {display: none !important;}
	header hgroup {padding: 10px;}
	footer .wrapper {background: none; line-height: 1.2;}
		
	/* Homepage */
	.home header {padding-bottom: 0;}
	.home #body {display: none;} 
	.home #subsection {padding-top: 10px;}
	.home #subsection h2 {display: none;}
	.home #subsection .wrapper {border: none;}
	#subsection .homepageLinks, #subsection .homepageFeeds {padding: 10px; float: none; clear: both;}
		#subsection .homepageLinks li,
		#subsection .homepageFeeds li {display: block; float: none; background: none;}
		#subsection .homepageLinks:before {content: "Find Me Around the Web"; font-weight: bold;}
		#subsection .homepageLinks a,
		#subsection .homepageFeeds > li > a {background: none; float: none; text-indent: 0; min-height: 0;}
		#subsection .homepageFeeds > li > a {font-weight: bold; color: #fff;}
		#subsection .homepageFeeds > li > ul {display: block !important; background: transparent; border: none; position: static; width: auto;}
		#subsection .homepageFeeds > li > ul a {padding: 0; font-weight: normal; color: #8B8B8B; font-size: 14px; font-family:TitilliumText22LRegular,Arial,Helvetica,sans-serif; display: inline;}
		#subsection .homepageFeeds > li > ul a:hover {background: transparent; color: #fff;}
	
	/* About */
	.pageAbout .floatRight p, .pageAbout .floatRight ul {display: none;}
	.pageAbout .floatRight p:first-child {display: block;}
	
	/* Images */
	.wp-caption, .wp-caption img, img.size-full, .gallery dl.gallery-item dt.gallery-icon a img, .galleryImage img, .tutorial-image a img,
	.websiteSlider img  {max-width: 100% !important; width: auto !important; height: auto;}
	.alignright.wp-caption, .alignleft.wp-caption {margin: 0; float: none;}
	#cboxTitle {display: none !important;}
	#cboxContent {padding-bottom: 0 !important;}
	#cboxNext, #cboxPrevious {display: none !important;}
	
	/* Blog */
	
	/* Tutorials */
	.tutorial-image,
	.tutorial-post {float: none; width: auto; padding: 10px 0; margin: 0;}
	
	/* Subsection */
	#subsection #subsection-columns {background: none;}
	#subsection-column1, #subsection-column2, #subsection-column3 {width: 100%; padding: 10px 0; float: none;}
	
	/* Portfolio */
	.websiteSliderContainer  {height: auto; width: 100%; float: none;}
	.websiteContainer  ol.controls {position: static; float: right; clear: both; padding: 10px 0;}
	.websiteInfo {clear: both; padding: 10px 0; float: none; width: auto;}
	.websiteSlider a, .websiteSlider li, .websiteSlider ul, .websiteSlider img {width: auto;}
	.galleryImage {margin: 0; float: none;}
	.galleryImage img {margin: 10px 0;}
	
	/* Comments */
}